.video-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -99;
  }
  
  .enlargeIcon {
    font-size: 350%;
    padding: 5%;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .containerino {
    width: 100%;
    margin: auto;
    position: relative;
    text-align:center;
    padding-top: 5%;
    justify-content: center;
  }
  
  .block {
    background: none;
    height: 100px;
    width: 100px;
    display:inline-block;
    margin: 10px;
  }
  
 .centerB{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: auto;
    }
  
    .iconTransp {
      color: rgba(180, 207, 56, 0.5);
      font-size: 150%;
      margin: 11%;
    }
  
    .iconActive {
      color: #a80c61;
      font-size: 200%;
      margin: 11%;
    }
  
    .iconDone {
      color: #b4cf38;
      font-size: 150%;
      margin: 11%;
    }
  
    .flipInY {
      -webkit-backface-visibility: visible !important;
      backface-visibility: visible !important;
      -webkit-animation-name: flipInY;
      animation-name: flipInY;
      -webkit-animation-duration: 2s;
      animation-duration: 2s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      animation-iteration-count: 1;
      }
      @-webkit-keyframes flipInY {
      0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      opacity: 0;
      }
      40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      }
      60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
      }
      80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      }
      100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      }
      }
      @keyframes flipInY {
      0% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      opacity: 0;
      }
      40% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in;
      }
      60% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
      opacity: 1;
      }
      80% {
      -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
      }
      100% {
      -webkit-transform: perspective(400px);
      transform: perspective(400px);
      }
      } 

      .heading-alignment {
        margin-top: 5% !important;
        margin-left: 5%;
      }

      /*
      .bg-vid {
        position: relative;
        top: 20%;
        left: 20%;
        min-width: 20%;
        min-height: 20%;
        width: auto;
        height: auto;
        z-index: -100;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url(video/sparqs_bg_motion.mp4) no-repeat;
        background-size: cover;
      }
      */

      .enlargeIcon {
        font-size: 30px;
      }

      .centerButton {
        margin: auto;
        width: 25%;
        height: 25%;
        text-align: center;
        padding: 10px;
      }

      .containerino {
        width: 70%;
        background: none;
        margin: 10px auto;
        position: relative;
        text-align: center;
        
        }
        
        .block {
        background: none;
        height: 100px;
        width: 100px;
        display: inline-block;
        margin: 10px;
        }
      // Consistency----

      .heading-cons{
        margin: 0px; 
        width: 100%; 
        height: 15%; 
        background-color: white;
      }

      .heading-cons-text {
        margin-left: 5%; 
        vertical-align: middle;
        color:rgb(4, 61, 54);
      }

      .margin-form-cons {
        margin-left: 5% !important;
        margin-right: 5% !important;
      }